/* Default Colors - Light Mode */

:root {
    --background-color: #f4f4f4;
    --surface-color: #ffffff;
    --accent-color: #008fff;
    --text-color: #1a2744;
}


/* Dark Mode Colors */

.dark-mode {
    --background-color: #1a2744;
    --surface-color: #243345;
    --text-color: #f4f4f4;
    --accent-color: #45adff;
}


/* Apply the variables */

body {
    background-color: var(--background-color);
    transition: background-color 0.6s;
}

form {
    background-color: var(--surface-color);
}

h1 {
    color: var(--accent-color);
}

* {
    color: var(--text-color);
}