body {
    background-color: #f4f1ed;
    font-family: Arial, sans-serif;
}

main {
    max-width: 850px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

#pets {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

#pets li {
    font-size: 20px;
    padding: 5px;
}

form {
    box-shadow: 0px 0px 8px #ccc;
}

.navbar-brand {
    font-weight: bold;
}