body {
    font-family: Arial, sans-serif;
    background-color: #f7efe5;
    margin: 0;
    color: #333;
}

nav {
    background-color: #5c4033;
    padding: 20px;
    display: flex;
    gap: 25px;
    align-items: center;
}

nav h2 {
    color: white;
    margin: 0;
}

nav a {
    color: #f7efe5;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 700px;
    margin: 50px auto;
    background-color: white;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 0 10px gray;
}

h1 {
    font-size: 48px;
    color: #5c4033;
}

section h2 {
    font-size: 32px;
}

li {
    font-size: 22px;
    padding: 8px;
}